@model UserResponse

<h2 style="text-align: center;"> 
    Request Confirmation
</h2>

<p>Your request with ID @Model.Id has been submitted successfully.</p>
<br>
<p>Someone from the IT department will be in touch soon. </p>