@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">FAST Equipment Tools</h1>

    <img style="padding:" src="https://static.thenounproject.com/png/4408717-200.png"/>
    
    <p style="font-style: bold;">Introducing a user-friendly solution catering to the needs of FAST students and professors. Our platform simplifies the process of requesting IT equipment loans, providing a seamless experience for borrowing essential technology resources. Say goodbye to complexity and hello to a smoother IT equipment lending experience.</p>

    <a asp-action="ERform"><button>Request Equipment</button></a>
</div>
